/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Space Mono', monospace;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#content {

display: grid;
grid-template-rows:  1fr ;
grid-template-columns:  1fr ;
height: 100vh;
width:100vw;

}

#todaysForecastWrap {


    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    padding:60px;

}

#todaysForecast {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin: 20px;  
}

#forecastImageWrap {

    display: grid;   
    grid-template-columns: 1fr;
    justify-items: start;
    justify-content: start;
}

#todaysForecast img {

    width:100%;
    height:80px;
    max-width: 80px;
    justify-self: start;
    margin-top: 10px;
    margin-bottom: 10px;
  
}

#infoWrap {

    margin:10px;
    border:solid 1px;
    display: grid;
}

#detailsWrap {

    border: solid 1px;
    justify-self: end;
    

}

#description {
  
    font-size: 36px;
    font-weight: 900;
}

#location {

    font-size: 18px;
}

#temp {

    font-size: 24px;
    font-weight: 200;
    display: grid;
    grid-template-columns: auto 1fr; 
}

#searchWrap{

    position: relative;
}

input[type="text"] {
    max-width: 120px;
    border:none;
    border-bottom:solid 1px;
    padding:6px;
    padding-left: 26px;
}

#searchWrap img {
    top:-4px;
    left:0px;
    width:auto;
    height:16px;
    position: absolute;
}

#searchWrap img:hover {

    cursor: pointer;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


#temp img {

    height:18px;
    width:18px;
    justify-self: start;
    align-self: start;
}

.weatherInfoWrap {

    display: grid; 
    align-content: center;
    padding:2px;
}
